body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url(../image/fundo1.png);
  padding: 20px;
}
nav {
  margin-top: 0;
  border-top: solid 1px rgba(0, 0, 0, 0);
  background-color: rgba(171, 113, 233, 0.5);
  margin: auto;
  /* display: inline-flex; */
}
hr {
  margin: 0;
  width: 90%;
  margin: auto;
}
footer {
  margin-top: 150px;
  margin-bottom: 20px;
}
#navegacao {
  display: flex;
  justify-content: space-evenly;
  /* padding-left: 50%; */
  padding: 10px;
  border-bottom: solid 5px rgba(137, 43, 226, 0.07);
}
#navegacao li {
  /* background-color: rgba(171, 113, 233, 0.5); */
  display: inline-block;
  padding-right: 50px;
  /* padding: 10px; */
}
#corpo-pagina {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  margin: 30px auto;
}
#cabecalho {
  margin-top: 20px;
  padding-top: 20px;
  width: fit-content;
}
#contato {
  margin: auto;
}
.botao {
  text-transform: uppercase;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 1px white;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 10px black;
  border-radius: 100px;
  text-decoration: none;
}
.botao:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.lista {
  list-style-type: none;
  list-style-position: outside;
  padding-left: 0;
}
.rodap-conteudo {
  display: flex;
  padding-left: 20px;
  padding-top: 35px;
  max-width: 254px;
}
.centralizado {
  margin: auto;
  width: 85%;
}
.linha-baixa {
  border-bottom: solid 2px black;
}
.box {
  background-color: rgba(171, 113, 233, 0.5);
  display: flex;
  padding: 20px 0 20px;
  justify-content: space-between;
}
.redirecionador {
  margin-right: 25px;
}
.redirecionador:hover {
  background-color: rgba(171, 113, 233, 0.8);
  /* border: solid 1px red; */
  cursor: pointer;
  border-radius: 50%;
}
.redirecionador:active {
  /* border: dashed 1px blueviolet; */
  background-color: rgb(166, 101, 236);
  cursor: wait;
}
.espaco {
  margin: 50px 0;
}
